#### import external libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn import set_config
from sklearn import metrics
from statsmodels.tsa.arima.model import ARIMA
from sklearn.model_selection import train_test_split

In [2]:
# setup the directory
import sys
sys.path.append('../../')

#### IPython extensions

In [3]:
%load_ext autoreload
%autoreload 2

#### import internal libraries

In [15]:
from preprocess.utils import preprocess as ps
from preprocess.utils import visualizations as vs
from preprocess.utils import exploratory_analysis as EDA

## Constants

In [16]:
PATH_FILE = '../../data/datasets/'
FILE_NAME = 'Base_de_Datos.csv'

In [17]:
DROP_COLS = ['Year','Publisher']

## Data gathering

In [18]:
df = pd.read_csv(PATH_FILE + FILE_NAME)
df.head(n=2)

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
0,1983,Activision,1.94,2,1,0,0,0,0,0,0,0,0,0,0
1,1983,Nintendo,10.96,0,4,0,0,0,1,1,0,0,0,0,0

### First filter before splitting and preprocessing

In [19]:
def filter_dataframe(df, col, val):
    '''
    Filter dataframes per column and value
    '''
    col = df.columns[col]
    val = str(val)
    df = df.query(f"{col}==@val")
    return df

In [20]:
df_nintendo = filter_dataframe(df, col=1, val='Nintendo')
df_nintendo.head(n=8)

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
1,1983,Nintendo,10.96,0,4,0,0,0,1,1,0,0,0,0,0
3,1984,Nintendo,45.56,1,0,0,1,2,1,2,2,0,0,0,0
5,1985,Nintendo,49.95,1,4,0,1,0,0,1,0,0,0,0,0
6,1986,Nintendo,16.18,3,2,0,0,0,0,0,1,0,0,0,0
8,1987,Nintendo,11.95,0,0,1,0,0,0,1,0,0,2,0,0
10,1988,Nintendo,36.44,0,3,0,1,0,0,1,1,0,0,0,0
12,1989,Nintendo,63.88,0,1,0,3,1,1,3,0,0,0,0,0
13,1990,Nintendo,35.49,0,1,0,2,0,0,1,2,1,0,0,0

In [23]:
df_nintendo['Year'].value_counts()

1983    1
2000    1
2014    1
2013    1
2012    1
2011    1
2010    1
2009    1
2008    1
2007    1
2006    1
2005    1
2004    1
2003    1
2002    1
2001    1
1999    1
1984    1
1998    1
1997    1
1996    1
1995    1
1994    1
1993    1
1992    1
1991    1
1990    1
1989    1
1988    1
1987    1
1986    1
1985    1
2015    1
Name: Year, dtype: int64

In [24]:
df_nintendo.shape

(33, 15)

## ARIMA

#### Conclusions

* Debido a que contamos con un dato puntual por cada año, no permite generar un pronóstico temporal anual, ya que requerimos al menos más de 2 valores por año para poder evaluar una tendencia y su respectivo costo matemático del modelo. 
* De igual manera, pensando en otras estrategias como colapsar el pronóstico por cada 5 o 10 años, resulta no ser la mejor opción, ya que, tiene una tendencia totalmente y = x, lo que no muestra ninguna dispersión y por lo tanto no se cumplen los criterios fundamentales para establecer un modelo, el cuál es que la variable sea aleatoria.